body {
    background-color:palegreen;
}
.people th{
background-color: green;
color:white;
padding: 20px;
border: 1px solid white;
}
.people td{
    padding: 20px;
    border: 1px solid white;
}
#links a {
    color: white; 
    background-color: green; 
    padding: 5px 10px; 
    border-radius: 5px; 
    text-decoration: none;
}




